$size-sm: 576px;
$size-md: 768px;
$size-lg: 992px;
$size-xlg: 1024px;
$size-xl: 1200px;
$size-xxl: 1440px;

$white: #fff;
$beige: #F7F3F4;
$LightSalmon: #FFBD9E;
$LightCoral: #F2726C;
$dark:#000000;
$LightDark: #1E1A20;
$DarkGray:#333333;
$ColorLine: #222433;
